@include 'header.html'
<article class="container" id="list">
    <hgroup>
        <h2>Users list</h2>
        <h3>Total rows: ${total_rows}</h3>
    </hgroup>    
    <details>
        <summary  role="button">            
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
                <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
            </svg>
            Filter list
        </summary>
        <form action="/admin/users/?order_by=@order_by&order_type=@order_type" method="get">
            <div class="grid">
                <label for="filter_by">Filter By
                <select id="filter_by" name="filter_by" required>
                    <option value="" selected>Select a column</option>
                    @for col in columns_list
                    <option value="$col" 
                    @if col == filter_by  
                        selected 
                    @end
                    >$col</option>                    
                    @end
                </select>
                </label>
            
                <label for="filter_by_op">Operation
                <select id="filter_by_op" name="filter_by_op" required>                        
                    <option value="" selected>Select a operation</option>
                    @for key, val in operations
                    <option value="$key"
                    @if key == filter_by_op  
                        selected 
                    @end
                    >${val}</option>
                    @end
                </select>
                </label>
    
                <label for="filter_by_val">
                    Filter by value
                    <input type="text" id="filter_by_val" name="filter_by_val" placeholder="Last name" value="$filter_by_val" required>
                </label>

            </div>
            <div class="grid">
                <button type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>
                <a href="/admin/users">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>                        
                </a>
            </div>
        </form>
        </details>    
    <figure>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>
                        <a href="/admin/users/?order_by=full_name&order_type=$order_type" 
                        @if order_by == "full_name" 
                        class="contrast"
                        @end
                        >Full Name 
                            @if order_type == "desc" && order_by == "full_name"
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
                                </svg> 
                            @else                            
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
                                </svg>
                            @end
                        </a>
                    </th>
                    <th>                        
                        <a href="/admin/users/?order_by=username&order_type=$order_type" 
                        @if order_by == "username" 
                        class="contrast"
                        @end 
                        >Username 
                            @if order_type == "desc" && order_by == "username"
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
                                </svg> 
                            @else                            
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
                                </svg>
                            @end
                        </a>
                    </th>
                    <th>
                        <a href="/admin/users/?order_by=created_at&order_type=$order_type" 
                        @if order_by == "created_at" 
                        class="contrast"
                        @end 
                        >Created at 
                            @if order_type == "desc" && order_by == "created_at"
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
                                </svg> 
                            @else                            
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
                                </svg>
                            @end
                        </a>                        
                    </th>
                    <th>                        
                        <a href="/admin/users/?order_by=updated_at&order_type=$order_type" 
                        @if order_by == "updated_at" 
                        class="contrast"
                        @end 
                        >Updated at 
                            @if order_type == "desc" && order_by == "updated_at"
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
                                </svg> 
                            @else                            
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
                                </svg>
                            @end
                        </a>                         
                    </th>
                    <th>                        
                        <a href="/admin/users/?order_by=is_blocked&order_type=$order_type" 
                        @if order_by == "is_blocked" 
                        class="contrast"
                        @end 
                        >Status 
                            @if order_type == "desc" && order_by == "is_blocked"
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
                                </svg> 
                            @else                            
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
                                </svg>
                            @end
                        </a>                        
                    </th>
                </tr>
            </thead>
            <tbody>
                @for i, user in users_list
                <tr>
                    <td>${i+1}</td>
                    <td>
                        <details>
                            <summary role="button" class="contrast">${user.full_name}</summary>
                            <div class="itemDetails">
                                <h5>User details:</h5>
                                <ul>
                                    <li><b>id:</b> ${user.id}</li>
                                    <li><b>username:</b> <span>${user.username}</span></li>
                                    <li><b>fullname:</b> ${user.full_name}</li>
                                    <li><b>email:</b> ${user.email}</li>
                                    <li><b>is_registered:</b> ${user.is_registered}</li>
                                    <li><b>is_blocked:</b> ${user.is_blocked}</li>
                                    <li><b>is_admin:</b> ${user.is_admin}</li>
                                    <li><b>created_at:</b> ${user.created_at}
                                    <li><b>updated_at:</b> ${user.updated_at}  
                                </ul>
                            </div>
                        </details>
                    </td>
                    <td><a href="/admin/users/?user_id=${user.id}#form">${user.username}</a></td>
                    <td>${user.created_at}</td>
                    <td>${user.updated_at}</td>
                    <td>
                        @if !user.is_blocked
                        <a data-tooltip="active">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                              </svg>
                        </a>
                        @else
                        <a data-tooltip="blocked">
                            <svg  width="16px" height="16px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" version="1.1" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                                <circle cy="8" cx="8" r="6.25"/>
                                <line x1="4.25" x2="12.25" y1="11.75" y2="3.75"/>
                                </svg>
                        </a >
                        @end
                    </td>
                </tr>
                @end
            </tbody>
            <tfoot>
                <div class="grid">
                    <span><b>page size:</b> <code>$page_size</code></span>
                    <span><b>page number:</b> <code>$page_num</code></span>
                    <span><b>total rows selected:</b> <code>${users_list.len}</code></span>
                </div>
            </tfoot>
        </table>
        <div class="grid">
            <a href="/admin/users?page_size=${page_size}&page_num=${page_num-1}" role="button" class="secondary"
            @if page_num <= 1
                disabled
            @end
            >                
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left" viewBox="0 0 16 16">
                    <path d="M10 12.796V3.204L4.519 8 10 12.796zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"/>
                </svg>
                prev page
            </a>
            <a href="/admin/users/?page_size=${page_size}&page_num=${page_num+1}"  role="button" class="secondary"
            @if page_num >= total_rows / page_size
                disabled
            @end            
            >
                next page
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16">
                    <path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
                </svg>
            </a>
        </div>
    </figure>
</article>
<article class="container" id="form">
    @if is_edit_user 
    <h2>Edit User</h2>
    @else
    <h2>New User</h2>
    @end
    <form action="/admin/users" method="post">
        <input type="hidden" id="id" name="id" value="${edit_user.id}">
        <label for="username">
            Username
            <input type="text" id="username" name="username" placeholder="Username" required  value="${edit_user.username}"/>
        </label>

        <label for="full_name">
            Full name
            <input type="text" id="full_name" name="full_name" placeholder="First name" value="${edit_user.full_name}" />
        </label>

        <label for="password">
            Password
            <input type="password" id="password" name="password" placeholder="Password" required value="${edit_user.password}" />
        </label>

        <label for="email">
            Email address
            <input type="email" id="email" name="email" placeholder="Email address" value="${edit_user.email}" required />
        </label>
        <fieldset>
            <label for="is_admin">
                <input type="checkbox" id="is_admin" name="is_admin" placeholder="is admin" role="switch" 
                @if edit_user.is_admin
                    checked
                @end
                />
                Is Admin
            </label>

            <label for="is_registered">
                <input type="checkbox" id="is_registered" name="is_registered" placeholder="is regestered" role="switch" 
                @if edit_user.is_registered
                    checked
                @end                
                />
                Is Registered
            </label>

            <label for="is_blocked">
                <input type="checkbox" id="is_blocked" name="is_blocked" placeholder="is blocker" role="switch" 
                @if edit_user.is_blocked
                    checked
                @end                 
                />
                Is Blocked
            </label>
        </fieldset>
        
        
        <!-- Buttons -->
        <button type="submit">Save</button>
    </form>
</article>

@include 'footer.html'