.header {
    border: 0;
}
.home-menu {
    background-color: #ccc;
    opacity: 50%;
    border-bottom: 1px solid #eee;
}
.home-menu:hover {
    opacity: 100%;
    background-color: #ccc;
}
.wide {
    width: 100%;
}

.hide {
    display: none;
}

.sm-scroll {
    width: 100%;
}
table {
    width: 100%;
}

#form input.pure-input-1 {
    border: 0px;
    border-radius: 0%;
    box-shadow: none;
    border-bottom: 1px solid #eee;
    margin-bottom: 2em;
}

#form input.pure-input-1:hover, #form input.pure-input-1:focus {
    border: 0px;
    border-radius: 0%;
    box-shadow: none;
    border-bottom: 1px solid #555;
}

@media (max-width: 48em) {
    .home-menu {    
        opacity: 80%;        
    }
    .sm-scroll {
        overflow:auto;        
    }
    .sm-scroll table {
        width: 40em;
    }
}